body {
    background-color:#CAD2C5;
    text-align: center;
}
main {
    box-sizing: border-box;
    padding: 0 10% 0 10%;
}

img {
    border: #CAD2C5;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
}

/* FONT CONTROL */
h1 {
    color: #354F52;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    color: #354F52;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 12px;
    font-size: 40pt;
}
h3 {
    color: #CAD2C5;
    font-size: 25px;
}

p {
    color: #c0c7bc;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
/* FONT CONTROL */

/* NAVBAR */
header {
    color: #354F52;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}
.navheader{
    display: none;
}
@media screen and (min-width: 900px) {
    .navheader {
    display: flex;
    justify-content: flex-end;
    }
} 
/* NAVBAR END */

/* BURGR */
.hamburger {
    display: flex;
    width: 2rem;
    align-self: flex-end;
    padding: 1rem 1rem 0 0;
}
@media screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }
    
}
/* BURGR END */

.headerimg {
    width: 10%;
    display: inline-block;

}
.sub-title {
    color: #CAD2C5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 12px;
    font-size: 40pt;
}

:any-link {
    color: #84A98C;
}
nav {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    list-style: none;
    gap: 25px;  
    padding: 5px 5px 10px 5px;
}
.portfoliobox{
    background-color: #2F3E46;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10% 5px 10%;
    border-radius: 20px;
}
/* ABOUT SECTION*/
.first-paragraph {
    color: #2F3E46;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
.about{
    padding: 10px 0px 30px 0px;


}
@media screen and (max-width: 900px) {
    .about {
      width: 100%;
    }
  }

/* ABOUT SECTION END*/

.footerbox {
    height: 100px;
    margin: auto;
    width: 100%;
    padding: 10px;
}
.footertext {
    font-size: 18px;
    color: #2F3E46;
}

/*--Portfolio section--*/
.portfoliosectionheader {
    color: #CAD2C5;
    font-size: 30px;
    letter-spacing: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

  .row {
    margin: 8px -16px;
  }

  .row,
  .row > .column {
    padding: 13px;
  }
  
  .column {
    float: left;
    width: 47%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


/*Portfolio section end*/