body{
    background-color: rgb(197, 255, 238);
}
h1{
    color: rgb(18, 19, 19);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(18, 19, 19);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: rgb(45, 50, 50);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}