body{
    background-color:#2B4651;
}
h1{
    color: rgb(18, 19, 19);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(18, 19, 19);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: #7B4D67;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    padding-left: 650px;
}
article{
    text-align: center;
}